table {
  margin-top: 30px;
  border-collapse: collapse;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #0c213b;
  text-align: center;
  min-width: 400px;
  width: 70%;
  box-shadow: 7px 7px 7px #000;
}
th, td {
  border: 1px solid black;
}

th, .pagination-btn:disabled, .search button {
  color: #fff;
}

th {
  padding: 10px;
  background: #008b8b;
  text-shadow: 0 1px 1px #2d2020;
  user-select: none;
}
th:hover {
  cursor: pointer;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  background: #f8e391;
}
.string-hover:hover {
  color: #8B008B;
  text-shadow: 5px 5px 3px #808080;
}

.arrow {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  margin-right: 3px;
}
.arrow-top {
  border-top-color: black;
  border-bottom: 0;
}
.arrow-bottom {
  border-bottom-color: black;
  border-top: 0;
}
.arrow-none {
  visibility: hidden;
}

.cursor-none:hover {
  cursor: default;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pagination-btn, .search button {
  box-shadow: 5px 4px 3px #000;
}

.pagination-btn {
  width: 40px;
  height: 30px;
  margin: 0px 4px 20px;
}

.pagination-btn:disabled {
  background-color: #000;
  border-width: 1px;
  border-color: #fff;
  border-radius: 3px;
  outline: none;
}

.pagination-btn:active, .search button:active {
  box-shadow: 1px 1px 2px#000;
  position: relative;
  top: 3px;
  left: 2px;
}

.search {
  padding: 20px;
  flex-direction: column;
}

.search textarea {
  border: 2px solid #000;
  margin-bottom: 15px;
}

.fixed-field  {
  resize: none;
}

.search button {
  font-size: 16px;
  padding: 5px 20px;
  background: #DC143C;
}